body {
    background-color: #3b5998;
    overflow: hidden;
}

.tabs {
    background-color: #3b5998;
    overflow: hidden;
}

.logo {
    height: 130px;
    margin: 15px 90px 0 90px;
}

#login-page {
    width: 290px;
    margin-top: 30px;
}

table {
    margin-top: 20px;
}

.finalizado {
    width: 20px;
}

.espaco {
    margin-top: 25px;
}

.connection {
    margin-top: 5px;
}

/* Centralizar */

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a {
    color: white;
    text-decoration: none;
}

th:hover {
    background-color: #5E7AB3;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/unect_192.png) center no-repeat #fff;
}

/* Maiores resoluções */

/* @media (max-width:350px) {
    #login.col.s12.active {
        padding-left: 7px;
    }
}
*/

@media (max-width:325px) {
    #login.col.s12.active {
        padding-left: 3px;
    }
}

/* @media (max-width:320px) {
    #login.col.s12.active {
        padding-left: 0px;
    }
}
 */

@media (min-width: 600px) {
    .logo {
        height: 305px;
        margin: 0px 125px 0px 125px;
    }
    #login-page {
        width: 500px;
    }
    table {
        margin-top: 20px;
    }
    .finalizado {
        width: 20px;
    }
    .espaco {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 993px) {
    th,
    td {
        padding-top: 2.5rem;
        font-size: 120%;
    }
    th {
        padding-top: 3.0rem;
        font-size: 80%;
    }
}